* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images-forum/fond.jpg);
    background-attachment: fixed;
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@font-face {
    font-family: "play";
    src: url(font-forum/play.ttf);
}

@font-face
{
    font-family : 'like';
    src: url(font-forum/like.ttf);
}
/** MAIN **/ 

main
{
    flex: 1;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}


.encart {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 52%;
    margin-top: 2%;
}

li {
    margin-left: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'play';
    font-weight: bold;
    font-size: 23px;
    opacity: 95%;
}

a:hover {
    text-shadow: 2px 2px 3px rgba(66, 66, 66, 0.507);
    opacity: 1;
    transition-duration: 0.3s
}
.deco
{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: transparent;
    font-family: 'play';
    font-weight: bold;
    font-size: 23px;
    opacity: 95%;
}

.deco:hover
{
    text-shadow: 2px 2px 3px rgba(66, 66, 66, 0.507);
    opacity: 1;
    transition-duration: 0.3s 
}

/* FOOTER */

footer {
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.466);
    display: table-row;
    margin-top: 2%;
    
    
}

.footer2 {
    width: 100%;
    height: 70px;
    background-color: rgba(233, 233, 233, 0.856);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.466);
    position:absolute;

    bottom:0;
    
    
}


.footercentrer
{
    display: flex;
    justify-content: center;
}
.fot {
    width: 60px;
    padding-top: 10px;
}

.fot2 {
    width: 60px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* INDEX */


.article
{   
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 2%;
    font-family: 'play';
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.ps5rupture
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.952);
    width: 640px;
    padding: 25px;
    box-shadow: 3px 3px 3px black;


}

.demonsoul
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.952);
    width: 640px;
    padding: 25px;
    box-shadow: 3px 3px 3px black;
  

}

.margehaut
{
    margin-top: 5%;
    margin-bottom: 3%;
}
/* INSCRIPTION */

.cadre-inscription {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-inscription {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 450px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

.inscrire {
    margin-top: 20px;
    width: 115px;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    font-family: "play";
    font-size: 17px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.inscrire:hover {
    transition-duration: 0.3s;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.555);
}


/* CONNEXION */

.cadre-connexion {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-connexion {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 450px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

label {
    display: block;
    width: 150px;
    float: left;
}

.petittitre {
    font-family: 'play';
    padding-bottom: 15px;
}

.connect {
    margin-top: 20px;
    width: 115px;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    font-family: "play";
    font-size: 17px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.connect:hover {
    transition-duration: 0.3s;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.555);
}

.test
{
    font-size: 25px;
    border: 1px solid black;
    background-color: rgba(82, 231, 90, 0.384);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
    margin-right: 90%;

}


/***** Page Admin ****/ 



table {
    width: 800px;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

th,
td {
    font-family: 'play';
    color: black;
    border: 2px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.centre
{
    display: flex;
    justify-content: center;
}

.casedroit
{
    text-align: center;
    width: 500px;
    height: 150px;
    margin-top : 5%;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    padding-top: 15px;
}

.caseinfo
{
    text-align: center;
    width: 500px;
    margin-top : 5%;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    padding-top: 15px;
    margin-left: 2%;
    padding : 5px;
}

.formulairetopic
{
    text-align: center;
    width: 500px;
    margin-top : 5%;
    border-radius: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    padding-top: 15px;
    padding : 25px;
    margin-left: 7.5%;
}

.button
{
    margin-top: 20px;
    width: 115px;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    font-family: "play";
    font-size: 17px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.button2
{
    margin-top: 20px;
    width: 90px;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    font-family: "play";
    font-size: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.button2:hover 
{
    transition-duration: 0.5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.555);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}


.button:hover 
{
    transition-duration: 0.5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.555);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}

.tableaucentrer
{
    display: flex;
    justify-content: center;
}

.h2pageadmin
{
    font-family: 'play';
    font-size : 40px;
    text-align:center;
    margin-top: 3%;
    color: white;
}

.deco2
{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: transparent;
    font-family: 'play';
    font-weight: bold;
    font-size: 30px;
    opacity: 95%;
}



.h4caseinfo
{
    margin-top: 5px;
}

h5
{
    margin-top: 5px;
    margin-bottom: 3px;
}

.pseudo
{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2%;
    float: left;
    font-weight: bolder;

}
.messageerreur
{
    margin-top: 5px;
    color: rgb(153, 27, 5);
}

.messagevalide
{
    margin-top: 5px;
    color: rgb(0, 87, 4);
}

.change
{
    width : 95px;
}

.bouttonrapel
{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

/************ PROFIL *************/

.petitemarge
{
margin-bottom : 22px;

}

/******** TOPIC *********/

.casetopic
{
    width: 750px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    padding : 5px;
}

.centrer 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topiccase {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 450px;
    margin-top: 50px;
    border-radius: 15px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
}

.fond 
{
margin-left: 30%;
margin-top: 5%;


}

.h4casetopic
{
    margin-top: 3px;
    margin-bottom: 7px;
}

/***************** Sujet *****************/

.h2pagesujet
{
    font-family: 'play';
    font-size : 40px;
    text-align:center;
    margin-top: 3%;
    color: white;
}

.date 

{
    font-weight: bolder;
    float: right;
    margin-right: 2%;
}

.commentaire
{
    margin-top: 5%;
}

.like
{
    font-family: 'like';
    font-weight: bolder;
    font-size: 30px;

}

.likou
{
    font-family: 'like';
    font-weight: bolder;
    font-size: 30px;

}

.likedislike
{
    float: right;
    margin-right: 2%;
}

.likedislike2
{
  
}
.alignementlike
{
    display: flex;
    justify-content: space-around
    
}

.casecommentaire
{
    width: 750px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgba(233, 233, 233, 0.856);
    font-family: 'play';
    font-size: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    padding : 5px;
}


.droite
 {
    float: left;
 }

 .boutongauche
 {
     text-align: left;
 }

 /**** CONVERSATION *****/ 

 .commentaireecrite
 {
     height: 30px;
     width: 300px;
 }